.wrapper{
    position: relative;
    z-index: 1;
    top: 0;
    left: 25%;




    background: rgba(0,0,0,0.3);
    border: 1.5px solid rgba(255, 255, 255, 0.49);
    border-radius: 10px;
    width: 50% ;
    height: 80%;

}


.header{
    font-size: 400%;
    color: #d8d4d4;
    padding: 20px;
    font-weight: bold;

}